#homeMainDiv{
  display: flex;
  align-items: center;
  justify-content:center;
  background: #f7f5ec;
  /* width: 100%; */
}

.bookGrid{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    margin: 24px 5%;
    flex-wrap: wrap;
    gap: 24px;

}
#homeMainDivWidth{
    width:69%;
  
}
