#homeMainDiv{
  display: flex;
  align-items: center;
  justify-content:center;
  background: #f7f5ec;
}

.bookGrid{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;

}
#homeMainDivWidth{
    width:69%;
  
}
